body {
    font-family: Arial, sans-serif;
    background-color: #f1ddd4;
}

header {
    color: #a52d56;
    text-align: center;
    font-family: 'Martian Mono', monospace;
    position: static;
    padding-top: 100px;
}

h1 {
    font-size: 4em;
}

.container {
    max-width: 25%;
    margin: 0 auto;
}

.intro {
    color:#203765;
    text-align: center;
    font-family:'Karla', sans-serif;
    padding-bottom: 80px;
}

p {
    font-size: 1.3em;
    line-height: 1.6em;
}


.sidenav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%
}

.sidenav a {
    font-size: 1.5em;
    text-decoration: none;
    color: #e29649;
    display: block;
    padding: 1em;
    transition: all 0.5s;
    position: static;
}

.sidenav a:hover {
    color: #064579;
    text-decoration: underline;
    transform: scale(1.5);
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.socials a {
    color:#a52d56;
}
